{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% for post in object_list %}
<div class="container">
  <img src="{{ post.picture.url }}" alt="#" width=200, height=200>
  <p><em>{{ post.date }}</em><br>{{ post.title }}<br>{{ post.body }}</p>
</div>
<hr>
<form action="{% url 'like_post' post.pk %}" method="POST">
  {% csrf_token %}
  <button type="submit" name="post_id" value="{{ post.id }}" class="btn btn-warning btn-sm" >Like</button> - {{ total_likes }} Likes
</form>
<hr>
<h4>Comments..</h4>
{% if not post.comments.all %}
No coments yet...<br>
{% else %}

{% for comment in post.comments.all %}
<strong>{{ comment.date }} | {{ comment.author }} </strong><br>
{{ comment.comment }} <br><br>
{% endfor%}
{% endif %}
<br>
  <a href="{% url 'post_edit' post.pk %}">Edit</a> | <a href="{% url 'post_delete' post.pk %}">Delete</a>|
  <a href="{% url 'comment' post.pk %}">Add comment..</a><br><br><br>
  <hr>



{% endfor %}
{% endblock content %}

